@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Eater&family=M+PLUS+Rounded+1c:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');


@layer base {
  @font-face {
    font-family: "tiza";
    src: url('/static/fonts/tiza.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
    html {
    --color-from-background: #ffffff;
    --color-to-background: #ffffff;
    --color-primary-900: #111827; /* tailwind text-gray-900*/
    --color-primary-700: #374151; /* tailwind text-gray-700*/
    --color-primary-500: #6b7280; /* tailwind text-gray-500*/
    --color-secondary: #3b82f6; /* tailwind text-gray-500*/
    --color-buttons: #000000;
    --color-button-hover: #3b82f6;
    --color-button-text: #ffffff;
    --font-family: 'tiza';
    --header-xl-fs: 1.65rem; /* 36px */
    --header-height: 2.6rem
    }

  }
  
 
  @import "themes/halloween.css";
  @import "themes/winter.css";
